header{
    background-color: #F6EDE4 ;
    padding-bottom: 20px;
}

main{
    background-color:#fefdfc;
}
h1{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    padding-left: 40px;
    padding-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textoindex{
    background-color: #fefdfc;
    color:#4B4B4B;
    font-style: italic;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.textonosotras{
    background-color: #fefdfc;
    color:#4B4B4B;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

footer{
    background-color: #F6EDE4;
    color: #4B4B4B;
    text-align: center;
    font-family: sans-serif;
    padding: 15px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a{
    color: #4B4B4B;
    text-decoration: none;
}

nav ul li a:hover{
    color: white;
}

.botonmenu:hover{
    background-color: #A8B19A;
}

*{
    margin: 0px;
}

.botonmenu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F7F4EF;
    border: 2.5px solid #4B4B4B;
    padding: 10px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.contenedorimgppal{
    background-color:#fefdfc;
    display: flex;
}

.contenedorfooter{
    background-color:#F6EDE4;
    display: inline-flex;
    padding: 20px;
}

.contenedorredes{
    display: inline-flex;
    padding-left: 40px;
    justify-content: flex-start;
}

form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    padding-left: 30px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}




























