div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.gallery-item {
  margin: 30px;
  padding-top: 20px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}